$bgColor:#ffffff;
$btnColor:#035aa6;
$fontC:#000000;
$fontColor:#fcbf1e;
$afterBtnColor:#40bad5;

$btnWidth:100px;
$btnHeight:50px;




.txt__ani{
    margin: 10px;
    font-size: 20px;

    .text1{
        margin: 10px;
        transition: all 0.3s ease 0s;
        &:hover{
            color: white;
            background: rgba(46,204,113,1);
        }
    }

    .text2{
        margin: 10px;
        display: inline-block;
        transition:all 0.3s ease 0s;
        font-size: 20px;
        transform: scale(1);
        &:hover{
            transform: scale(1.1);
        }
    }

    .text3{
        margin: 10px;
        transition: 0.3s;
        background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(46,204,113,1) 50%);
        background-position: 0 0;
        background-size: 200% auto;
        display: inline-block;
        &:hover{
            background-position: -100% 0;
            color: #fff;
        }
    }

    .text4{
        margin: 10px;
        transition: 0.3s;
        background: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(46,204,113,1) 50%);
        background-position: 0 0;
        background-size: auto 200%;
        display: inline-block;
        &:hover{
            background-position: 0 100%;
            color: #fff;
        }
    }

    .text5{
        margin: 10px;
        transition: 0.3s;
        position: relative;
        &:hover{
            color: #ff0000;
        }
    }

    .text6{
        margin: 10px;
        transition: 0.5s;
        position: relative;
        display: inline-block;
        &::after{
            transition: 0.5s;
            position: absolute;
            bottom: 0.3px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #2ecc71;
            opacity: 0;
        }
        &:hover{
            &::after{
                opacity: 1;
            }
        }
    }

    .text7{
        margin: 10px;
        transition: 0.5s;
        position: relative;
        display: inline-block;
        &:hover{
            animation: shake 0.01s infinite linear;
            @keyframes shake {
                0%{
                    transform: rotate(2deg);
                }
                50%{
                    transform: rotate(-2deg);
                }
                100%{
                    transform: rotate(2deg);
                }
            }
        }
    }

    .text8{
        margin: 10px;
        transition: 0.5s;
        position: relative;
        display: inline-block;
        &::after{
            transition: 0.5s;
            position: absolute;
            bottom: 0px;
            left: -5px;
            content: '';
            width: 3px;
            height: 100%;
            border-bottom: 3px solid rgba(46,204,113,1);
            border-right: 3px solid rgba(46,204,113,1);
            opacity: 0;
        }
        &:hover{
            &::after{
                width: 110%;
                height: 100%;
                opacity: 1;
            }
        }
    }
}